<div class="dashboard-container">
    <div class="dashboard-grid">
        <div class="card ventas-dia highlight">
            <h3>💵 Ventas del día</h3>
            <p>S/. 1,280.50</p>
        </div>
        
        <div class="card caja tiny">
            <h3>💰 Caja actual</h3>
            <ul>
                <li>Efectivo: S/. 480.00</li>
                <li>Tarjeta: S/. 800.50</li>
                <li>Delivery: S/. 250.00</li>
            </ul>
        </div>
        <div class="mini-grid">
            <div class="card pedidos-activos tiny">
                <h3>🐔 Pedidos en cocina</h3>
                <p>7 pedidos activos</p>
            </div>

            <div class="card stock-bajo tiny">
                <h3>📦 Stock crítico</h3>
                <ul>
                    <li>Papas - 5kg</li>
                    <li>Pollo entero - 3u</li>
                    <li>Aceite - 2L</li>
                </ul>
            </div>
            <div class="card producto-top tiny">
                <h3>🍗 Producto más vendido</h3>
                <p>1/4 Pollo + Papas</p>
                <p>55 unidades</p>
            </div>
            <div class="card delivery tiny">
                <h3>🚗 Pedidos en delivery</h3>
                <p>3 en camino</p>
                <p>1 sin asignar</p>
            </div>


        </div>



        <div class="card resumen-semanal wide tall">
            <h3>📈 Ventas últimos 7 días</h3>
            <div class="chart-wrapper">
                <canvas id="ventasLineChart"></canvas>
            </div>
        </div>

        <div class="card grafico-ventas wide tall">
            <h3>📊 Ventas por categoría</h3>
            <div class="chart-wrapper">
                <canvas id="ventasChart"></canvas>
            </div>
        </div>
    </div>
</div>