<div class="container">
  <h2>Subir Imagen y convertir a Base64</h2>
  <input type="file" (change)="onFileSelected($event)" accept="image/*" />
  
  <div *ngIf="preview" class="preview">
    <p>Vista previa:</p>
    <img [src]="preview" alt="preview" />
  </div>
</div>

<hr />

<div class="container">
  <h3>Mostrar imagen desde base64 (en duro o desde input)</h3>
  
  <textarea [(ngModel)]="base64Manual" placeholder="Pega aquí tu base64..." rows="4"></textarea>
  
  <button (click)="mostrarImagen()">Mostrar Imagen</button>

  <div *ngIf="imagenBase64" class="preview">
    <img [src]="'data:image/png;base64,' + imagenBase64" alt="Imagen desde Base64" />
  </div>
</div>

